<div class="container">
  <!--  Cart is  empty-->

  <div class="text-center my-5" *ngIf="cartData.data[0].numInCart == 0;" >
    <h4>Your Cart Is Empty</h4>

    <button class="btn btn-warning btn-lg mt-3" routerLink="/">GO TO SHOP</button>
  </div>


  <!--  Cart with items-->
  <ng-container *ngIf="cartData.data[0].numInCart != 0">
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-text product-more">
              <a routerLink="/"><i class="fa fa-home"></i> Home</a>
              <a routerLink="/">Shop</a>
              <span>Shopping Cart</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="cart-table">
              <table>
                <thead>
                <tr>
                  <th>Image</th>
                  <th class="p-name">Title</th>
                  <th>Price</th>
<!--                  <th>Size</th>-->
                  <th>Quantity</th>
                  <th>Total</th>
                  <th><i class="ti-close"></i></th>
                </tr>
                </thead>
                <tbody>


                <tr *ngFor="let c of cartData.data; let i=index">
                  <td class="cart-pic first-row"><img [src]="c.product.image" alt="{{c.product.title}}"></td>
                  <td class="cart-title first-row">
                    <h5>{{c.product.title}}</h5>
                  </td>
                  <td class="p-price first-row">{{c.product.price | currency: 'USD'}}</td>

<!--                -->
<!--                  <td class="cart-title first-row">-->

<!--                  </td>-->
<!--                  -->
<!--                  -->



                  <td class="qua-col first-row">
                    <!--                    <div class="quantity" (click)="ChangeQuantity(i , false)" >-->
                    <!--                      <div class="pro-qty">-->
                    <!--                        <input type="text" [value]="c.numInCart" readonly [max]="c.product.quantity"] />-->
                    <!--                      </div>-->
                    <!--                    </div>-->
                    <form>
                      <div class="value-button" id="decrease" (click)="ChangeQuantity(i , false)">
                        <i class="fa fa-minus"></i>
                      </div>
                      <input type="number" id="number"type="number" id="number" [value]="c.numInCart" readonly [max]="c.product.quantity" />
                      <div class="value-button" id="increase" (click)="ChangeQuantity(i , true)">
                        <i class="fa fa-plus"></i>
                      </div>

                    </form>


                  </td>
                  <td class="total-price first-row">{{cartService.CalculateSubTotal(i)| currency: 'USD'}}</td>
                  <td class="close-td first-row"><i class="ti-close" style="cursor: pointer" (click)="cartService.DeleteProductFromCart(i)"></i></td>
                </tr>


                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="cart-buttons">
                  <a routerLink="/" class="primary-btn up-cart">Continue shopping</a>
                  <!--                  <a href="#" class="primary-btn up-cart">Update cart</a>-->
                </div>
                <!--                <div class="discount-coupon">-->
                <!--                  <h6>Discount Codes</h6>-->
                <!--                  <form action="#" class="coupon-form">-->
                <!--                    <input type="text" placeholder="Enter your codes">-->
                <!--                    <button type="submit" class="site-btn coupon-btn">Apply</button>-->
                <!--                  </form>-->
                <!--                </div>-->
              </div>
              <div class="col-lg-4 offset-lg-4">
                <div class="proceed-checkout">
                  <ul>
                    <!--                    <li class="subtotal">Subtotal <span>$240.00</span></li>-->
                    <li class="cart-total">Total <span>{{cartTotal | currency: 'USD'}}</span></li>
                  </ul>
                  <a routerLink="/checkout" class="proceed-btn">PROCEED TO CHECK OUT</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </ng-container>



</div>
