<!-- Hero Section Begin -->
<section class="hero-section">
  <div class="hero-items owl-carousel">

    <div class="single-hero-items set-bg" data-setbg="assets/img/hero-1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
           <span>{{'COLLECTION.1'|translate}}</span>
            <h1>{{'HOME.TITLE1'|translate}}</h1>
            <p>{{'HOME.PARAG1'|translate}}</p>
            <a routerLink="/collection" class="primary-btn">{{'HOME.SHOPNOW' | translate}}</a>
          </div>
        </div>
        <div class="off-card">
          <h2>{{'HOME.SALE'|translate}} <span>50%</span></h2>
        </div>
      </div>
    </div>

    <!--    x-->
    <div class="single-hero-items set-bg" data-setbg="assets/img/hero-2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
              <span>{{'COLLECTION.2'|translate}}</span>
            <h1>{{'HOME.TITLE1'|translate}}</h1>
            <p>{{'HOME.PARAG1'|translate}}</p>
            <a routerLink="/collection" class="primary-btn">{{'HOME.SHOPNOW' | translate}}</a>
          </div>
        </div>
        <div class="off-card">
          <h2>{{'HOME.SALE'|translate}} <span>50%</span></h2>
        </div>
      </div>
    </div>

    <!--    x-->

  </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<div class="banner-section spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4" >
        <div class="single-banner">
          <img src="assets/img/banner-1.jpg" alt="">
          <div class="inner-text">
            <button class="btn btn-default" outerLink="category/shoes"> <h4 class="outset" style="color: #7a0c35;">{{'COLLECTION.1'| translate}}</h4></button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-banner">
          <img src="assets/img/banner-2.jpg" alt="">
          <div class="inner-text">
            <button class="btn btn-defaul" routerLink="category/dresses">  <h4 class="outset" style="color: #7a0c35;" >{{'COLLECTION.2'| translate}}</h4> </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-banner">
          <img src="assets/img/banner-3.jpg" alt="">
          <div class="inner-text">
            <button class="btn btn-default" routerLink="category/shirts">   <h4 class="outset" style="color: #7a0c35;">{{'COLLECTION.3'| translate}}</h4></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section End -->

<!-- Women Banner Section Begin -->
<section class="women-banner spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="product-large set-bg" data-setbg="assets/img/products/women-large.jpg">
          <h2>{{'COLLECTION.1'| translate}}</h2>
          <a routerLink="category/shoes">{{'COLLECTION.DISCOVER'|translate}}</a>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-1">


        <div class="product-slider owl-carousel">

          <div class="product-item">
            <div class="pi-pic">
              <img (click)="selectProduct(products[0].id)" [src]="products[0]?.image" alt="{{products[0]?.title}}">
              <div class="icon">
                <i class="icon_heart_alt"></i>
              </div>


                            <ul>
                                 <li class="quick-view"><a class="btn btn-light"
                                                        [class.disabled]="products[0]?.quantity<1"
                                                         [class.btn-outline-danger]="products[0]?.quantity<1"
                                                     (click)="AddToCart(products[0].id)">
                                   {{products[0]?.quantity < 1? "NO STOCK": "Add To Cart" }}</a></li>
                              </ul>

            </div>
            <div class="pi-text">
              <div class="catagory-name">{{products[0]?.category}}</div>
              <a href="#">
                <h5>{{products[0]?.title}}</h5>
              </a>
              <div class="product-price">
                {{products[0]?.price | currency: 'USD'}}
              </div>
            </div>
          </div>

          <div class="product-item">
            <div class="pi-pic">
              <img (click)="selectProduct(products[1].id)" [src]="products[1]?.image" alt="{{products[1]?.title}}">
              <div class="icon">
                <i class="icon_heart_alt"></i>
              </div>


              <ul>
                <li class="quick-view"><a class="btn btn-light"
                                          [class.disabled]="products[1]?.quantity<1"
                                          [class.btn-outline-danger]="products[1]?.quantity<1"
                                          (click)="AddToCart(products[1].id)">
                  {{products[1]?.quantity < 1? "NO STOCK": "Add To Cart" }}</a></li>
              </ul>

            </div>
            <div class="pi-text">
              <div class="catagory-name">{{products[1]?.category}}</div>
              <a href="#">
                <h5>{{products[1]?.title}}</h5>
              </a>
              <div class="product-price">
                {{products[1]?.price | currency: 'USD'}}
              </div>
            </div>
          </div>

          <div class="product-item">
            <div class="pi-pic">
              <img (click)="selectProduct(products[2].id)" [src]="products[2]?.image" alt="{{products[2]?.title}}">
              <div class="icon">
                <i class="icon_heart_alt"></i>
              </div>


              <ul>
                <li class="quick-view"><a class="btn btn-light"
                                          [class.disabled]="products[2]?.quantity<1"
                                          [class.btn-outline-danger]="products[2]?.quantity<1"
                                          (click)="AddToCart(products[2].id)">
                  {{products[2]?.quantity < 1? "NO STOCK": "Add To Cart" }}</a></li>
              </ul>

            </div>
            <div class="pi-text">
              <div class="catagory-name">{{products[2]?.category}}</div>
              <a href="#">
                <h5>{{products[2]?.title}}</h5>
              </a>
              <div class="product-price">
                {{products[2]?.price | currency: 'USD'}}
              </div>
            </div>
          </div>

          <div class="product-item">
            <div class="pi-pic">
              <img (click)="selectProduct(products[3].id)" [src]="products[3]?.image" alt="{{products[3]?.title}}">
              <div class="icon">
                <i class="icon_heart_alt"></i>
              </div>


              <ul>
                <li class="quick-view"><a class="btn btn-light"
                                          [class.disabled]="products[3]?.quantity<1"
                                          [class.btn-outline-danger]="products[3]?.quantity<1"
                                          (click)="AddToCart(products[3].id)">
                  {{products[3]?.quantity < 1? "NO STOCK": "Add To Cart" }}</a></li>
              </ul>

            </div>
            <div class="pi-text">
              <div class="catagory-name">{{products[3]?.category}}</div>
              <a href="#">
                <h5>{{products[3]?.title}}</h5>
              </a>
              <div class="product-price">
                {{products[3]?.price | currency: 'USD'}}
              </div>
            </div>
          </div>


          <!--          <ng-template ngFor let-p [ngForOf]="products">-->
<!--            <div class="product-item" >-->
<!--              <div class="pi-pic">-->
<!--                <img (click)="selectProduct(p.id)" [src]="p.image" alt="{{p.title}}}">-->
<!--                <div class="icon">-->
<!--                  <i class="icon_heart_alt"></i>-->
<!--                </div>-->
<!--                <ul>-->
<!--                  <li class="quick-view"><a class="btn btn-light"-->
<!--                                            [class.disabled]="p.quantity<1"-->
<!--                                            [class.btn-outline-danger]="p.quantity<1"-->
<!--                                            (click)="AddToCart(p.id)"-->
<!--                  >{{p.quantity < 1? "NO STOCK": "Add To Cart" }}</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--              <div class="pi-text">-->
<!--                <div class="catagory-name">{{p.category}}</div>-->
<!--                <a href="#">-->
<!--                  <h5>{{p.title | titlecase}}</h5>-->
<!--                </a>-->
<!--                <div class="product-price">-->
<!--                  {{p.price | currency: 'USD'}}-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
<!--          </ng-template>-->





          </div>







        </div>

      </div>
    </div>

</section>




<!-- Man Banner Section Begin -->
<section class="man-banner spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">

        <div class="product-slider owl-carousel">
          <div class="product-item">
            <div class="pi-pic">
              <img src="assets/img/products/man-1.jpg" alt="">
              <div class="icon">
                <i class="icon_heart_alt"></i>
              </div>
              <ul>
                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                <li class="quick-view"><a href="#">+ Quick View</a></li>
                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
              </ul>
            </div>
            <div class="pi-text">
              <div class="catagory-name">Coat</div>
              <a href="#">
                <h5>Pure Pineapple</h5>
              </a>
              <div class="product-price">
                $14.00
                <span>$35.00</span>
              </div>
            </div>
          </div>





          <div class="product-item">
            <div class="pi-pic">
              <img src="assets/img/products/man-4.jpg" alt="">
              <div class="icon">
                <i class="icon_heart_alt"></i>
              </div>
              <ul>
                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                <li class="quick-view"><a href="#">+ Quick View</a></li>
                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
              </ul>
            </div>
            <div class="pi-text">
              <div class="catagory-name">Towel</div>
              <a href="#">
                <h5>Converse Shoes</h5>
              </a>
              <div class="product-price">
                $34.00
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <div class="product-large set-bg m-large" data-setbg="assets/img/products/man-large.jpg">
          <h2>{{'COLLECTION.2'| translate}}</h2>
          <a routerLink="category/dresses">{{'COLLECTION.DISCOVER'|translate}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Man Banner Section End -->

<!-- Instagram Section Begin -->
<div class="instagram-photo">
  <div class="insta-item set-bg" data-setbg="assets/img/insta-1.jpg">
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="#">colorlib_Collection</a></h5>
    </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/insta-2.jpg">
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="#">colorlib_Collection</a></h5>
    </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/insta-3.jpg">
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="#">colorlib_Collection</a></h5>
    </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/insta-4.jpg">
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="#">colorlib_Collection</a></h5>
    </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/insta-5.jpg">
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="#">colorlib_Collection</a></h5>
    </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/insta-6.jpg">
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="#">colorlib_Collection</a></h5>
    </div>
  </div>
</div>
<!-- Instagram Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest-blog spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>From The Blog</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-latest-blog">
          <img src="assets/img/latest-1.jpg" alt="">
          <div class="latest-text">
            <div class="tag-list">
              <div class="tag-item">
                <i class="fa fa-calendar-o"></i>
                May 4,2019
              </div>
              <div class="tag-item">
                <i class="fa fa-comment-o"></i>
                5
              </div>
            </div>
            <a href="#">
              <h4>The Best Street Style From London Fashion Week</h4>
            </a>
            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-latest-blog">
          <img src="assets/img/latest-2.jpg" alt="">
          <div class="latest-text">
            <div class="tag-list">
              <div class="tag-item">
                <i class="fa fa-calendar-o"></i>
                May 4,2019
              </div>
              <div class="tag-item">
                <i class="fa fa-comment-o"></i>
                5
              </div>
            </div>
            <a href="#">
              <h4>Vogue's Ultimate Guide To Autumn/Winter 2019 Shoes</h4>
            </a>
            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-latest-blog">
          <img src="assets/img/latest-3.jpg" alt="">
          <div class="latest-text">
            <div class="tag-list">
              <div class="tag-item">
                <i class="fa fa-calendar-o"></i>
                May 4,2019
              </div>
              <div class="tag-item">
                <i class="fa fa-comment-o"></i>
                5
              </div>
            </div>
            <a href="#">
              <h4>How To Brighten Your Wardrobe With A Dash Of Lime</h4>
            </a>
            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
          </div>
        </div>
      </div>
    </div>
    <div class="benefit-items">
      <div class="row">
        <div class="col-lg-4">
          <div class="single-benefit">
            <div class="sb-icon">
              <img src="assets/img/icon-1.png" alt="">
            </div>
            <div class="sb-text">
              <h6>Free Shipping</h6>
              <p>For all order over 99$</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-benefit">
            <div class="sb-icon">
              <img src="assets/img/icon-2.png" alt="">
            </div>
            <div class="sb-text">
              <h6>Delivery On Time</h6>
              <p>If good have prolems</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-benefit">
            <div class="sb-icon">
              <img src="assets/img/icon-1.png" alt="">
            </div>
            <div class="sb-text">
              <h6>Secure Payment</h6>
              <p>100% secure payment</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Blog Section End -->
