<header class="header-section">

  <div class="header-top">
    <div class="container">
      <div class="ht-left">
        <div class="mail-service">
          <i class=" fa fa-envelope"></i>
          baydalini@gmail.com
        </div>
        <div class="phone-service">
          <i class=" fa fa-phone"></i>
          +65 11.188.888
        </div>
      </div>

<!--        <button routerLink="/">Products</button>-->
<!--        <button routerLink="/">Blog</button>-->
<!--        <button routerLink="/">Orders</button>-->
<!--        <button routerLink="/">User</button>-->

      <div class="ht-right">

        <a *ngIf="!auth.isLoggedIn()" routerLink="/register" class="login-panel"><i class="fa fa-user"></i>{{'HEADER.REGISTER'|translate}}</a>
        <a *ngIf="!auth.isLoggedIn()"  routerLink="/login" class="login-panel"><i class="fa fa-user"></i>{{'HEADER.LOGIN'|translate}} &nbsp; &nbsp;</a>
        <a *ngIf="auth.isLoggedIn()" routerLink="/" (click)="auth.logout()" class="login-panel">{{'HEADER.LOGOUT'|translate}}</a>
        <a *ngIf="auth.isLoggedIn()" routerLink="/profile" class="login-panel"><i class="fa fa-user"></i>{{auth.getUserDetails()?.first_name}} &nbsp; &nbsp;</a>


        <div class="lan-selector">

          <select [selectedIndex]="dropIndex" id="dropdaun" class="dropdaun" (change)="selectChangeHandler($event)" >

            <option id="en" value="en" data-imagecss="flag yu"
                    data-title="English">{{'HEADER.ENGLISH'|translate}}</option>
            <option id="de" value="de"   data-image-src="assets/img/flag-2.jpg" data-imagecss="flag yu"
                     data-title="Bangladesh">{{'HEADER.GERMAN'|translate}}</option>
            <option value="ua"   data-image="assets/img/flag-2.jpg" data-imagecss="flag yu"
                    data-title="Ukrainian">{{'HEADER.UKRAINIAN'|translate}}</option>
            <option value="ru"   data-image="assets/img/flag-2.jpg" data-imagecss="flag yu"
                    data-title="Russian">{{'HEADER.RUSSIAN'|translate}}</option>
          </select>


        </div>
        <div class="top-social">
          <a href="#"><i class="ti-facebook"></i></a>
          <a href="#"><i class="ti-twitter-alt"></i></a>
          <a href="#"><i class="ti-linkedin"></i></a>
          <a href="#"><i class="ti-pinterest"></i></a>
        </div>

<!--        <button (click)="translate.use('en')">EN</button>-->
<!--        <button (click)="translate.use('ua')">UA</button>-->
<!--        <button (click)="translate.use('de')">DE</button>-->
<!--        <button (click)="translate.use('ru')">RU</button>-->
<!--        <div style="display: inline-block">-->




<!--        </div>-->


      </div>
    </div>
  </div>




  <div  class="container ">
    <div  class="inner-header">
      <div  class="row">
        <div  class="col-lg-12 col-md-12" >


<!--          <a routerLink="/" id="demoFont">Baydalini</a>-->
          <img routerLink="/" id="logo" src="assets/img/baydalini.jpg" style="border: white;" class="mx-auto d-block w-25 ml-3" />

<!--        </div>-->

<!--        <div class="col-lg-2 text-right col-md-2">-->
          <ul id="cart" class="nav-right float-right centered">

<!--            <li class="heart-icon">-->
<!--              <a href="#">-->
<!--                <i class="icon_heart_alt"></i>-->
<!--                <span>1</span>-->
<!--              </a>-->
<!--            </li>-->
            <li class="cart-icon">
              <a href="/cart">
                <i class="icon_bag_alt"></i>
                <span>{{cartData.data[0].numInCart != 0 ? cartData.data.length : 0 }}</span>
              </a>
              <div class="cart-hover">
                <div class="select-items">

                  <table>




                    <tbody *ngIf="cartData.data[0].numInCart != 0">

                    <tr *ngFor="let c of cartData.data; let i=index">
                      <td class="si-pic"><img [src]="c.product ?. image" alt="{{c.product.title}}"></td>
                      <td class="si-text">
                        <div class="product-selected">
                          <p>{{c.product.price}} {{'WALLET'|translate}} x {{c.numInCart}}</p>
                          <h6>{{c.product.title}}</h6>
                        </div>
                      </td>
                      <td class="si-close" (click)="cartService.DeleteProductFromCart(i)" >
                        <i class="ti-close"></i>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
                <div class="select-total">
                  <span>{{'HEADER.TOTAL'|translate}}:</span>
                  <h5>{{ cartTotal}} {{'WALLET'|translate}}</h5>
                </div>
                <div class="select-button">
                  <a routerLink="/cart" class="primary-btn view-card">{{'HEADER.CART'|translate}}</a>
                  <a routerLink="/checkout" class="primary-btn checkout-btn">{{'HEADER.CHECKOUT'|translate}}</a>
                </div>
              </div>
            </li>
            <li class="cart-price">{{cartTotal}} {{'WALLET'|translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>




  <div class="nav-item">
    <div class="container">

      <nav class="nav-menu mobile-menu">
        <ul>
          <li ><a routerLink="/">{{'NAV.MAIN' | translate}}</a></li>
          <li><a routerLink="/collection">{{'NAV.CATALOG' | translate}}</a>
            <ul class="dropdown">
              <li><a routerLink="category/shoes">{{'COLLECTION.1'| translate}}</a></li>
              <li><a routerLink="category/dresses">{{'COLLECTION.2'| translate}}</a></li>
              <li><a routerLink="category/shirts">{{'COLLECTION.3'| translate}}</a></li>
            </ul>
          </li>
          <li><a routerLink="/payinfo">{{'NAV.PAYMENT' | translate}}</a></li>
          <li><a routerLink="/return">{{'NAV.RETURN' | translate}}</a></li>
          <li><a routerLink="/about">{{'NAV.ABOUT' | translate}}</a></li>
          <li><a routerLink="/contacts">{{'NAV.CONTACTS' | translate}}</a></li>
          <li><a routerLink="/blog">{{'NAV.BLOG' | translate}}</a></li>

          <li *ngIf="auth.isAdmin()"><a routerLink="/productAdmin">ТОВАРИ</a></li>
          <li *ngIf="auth.isAdmin()"><a routerLink="/blogAdmin">БЛОГИ</a></li>
          <li *ngIf="auth.isAdmin()"><a routerLink="/orderAdmin">ЗАМОВЛЕННЯ</a></li>
          <li *ngIf="auth.isAdmin()"><a routerLink="/usersAdmin">КОРИСТУВАЧІ</a></li>
          <li *ngIf="auth.isAdmin()"><a routerLink="/commentAdmin">ПОВІДОМЛЕННЯ</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <nav id="slickna" class="navbar navbar-expand-lg navbar-dark slicknav_menu" style="background-color: #252525;">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">{{'NAV.MAIN' | translate}}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" routerLink="/collection" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{'NAV.CATALOG' | translate}}<span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="category/shoes">{{'COLLECTION.1'| translate}}</a>
            <a class="dropdown-item" routerLink="category/dresses">{{'COLLECTION.2'| translate}}</a>
            <a class="dropdown-item" routerLink="category/shirts">{{'COLLECTION.3'| translate}}</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/payinfo">{{'NAV.PAYMENT' | translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/return">{{'NAV.RETURN' | translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about">{{'NAV.ABOUT' | translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contacts">{{'NAV.CONTACTS' | translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/blog">{{'NAV.BLOG' | translate}} <span class="sr-only">(current)</span></a>
        </li>

      </ul>

    </div>
  </nav>





</header>
