li{
  display: block;
}
#demoFont {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  letter-spacing: 0.4px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}

.dropdaun
{
  border: 0px;

}



#logo:active
{
  border: 0px;
}

#cart
{
  /*vertical-align: center;*/
}
.dropdown-item, .dropdown-menu
{
  background-color: #2b2b2b;
  color: white;
}




