<header class="header-section">

<!--  <div class="header-top">-->
<!--    <div class="container">-->
<!--      <div class="ht-left">-->
<!--        <div class="mail-service">-->
<!--          <i class=" fa fa-envelope"></i>-->
<!--          hello@mail.com-->
<!--        </div>-->
<!--        <div class="phone-service">-->
<!--          <i class=" fa fa-phone"></i>-->
<!--          +00 00.00 000-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="ht-right">-->
<!--        <li  *ngIf="!auth.isLoggedIn()">-->
<!--          <a routerLink="/login" class="btn btn-outline-success btn-sm btn-block">Login</a>-->
<!--        </li>-->
<!--        <li  *ngIf="!auth.isLoggedIn()">-->
<!--          <a routerLink="/register" class="btn btn-outline-success btn-sm btn-block">Register</a>-->
<!--        </li>-->
<!--        <li *ngIf="auth.isLoggedIn()">-->
<!--          <a routerLink="/profile" class="btn  btn-outline-warning btn-sm btn-block">{{auth.getUserDetails()?.first_name}}</a>-->
<!--        </li>-->
<!--        <li  *ngIf="auth.isLoggedIn()">-->
<!--          <a routerLink="/" (click)="auth.logout()" class="btn-outline-warning btn-sm btn-block text-center">Logout</a>-->
<!--        </li>-->



<!--        <div class="lan-selector">-->
<!--          <select class="language_drop" name="countries" id="countries" style="width:300px;">-->
<!--            <option value='yt' data-image="assets/img/flag-1.jpg" data-imagecss="flag yt"-->
<!--                    data-title="English"><button  (click)="translate.use('en')">English</button></option>-->
<!--            <option value='yu' data-image="assets/img/flag-2.jpg" data-imagecss="flag yu"-->
<!--                    data-title="Bangladesh">German </option>-->

<!--            <option  value='yu' data-image="assets/img/flag-3.jpg" data-imagecss="flag yu"-->
<!--                     data-title="Bangladesh"><button (click)="translate.use('ua')">Ukraine </button></option>-->
<!--            <option value='yu' data-image="assets/img/flag-1.jpg" data-imagecss="flag yu"-->
<!--                    data-title="Bangladesh">Russia </option>-->
<!--          </select>-->
<!--        </div>-->


<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


  <div class="header-top">
    <div class="container">
      <div class="ht-left">
        <div class="mail-service">
          <i class=" fa fa-envelope"></i>
          baydalini@gmail.com
        </div>
        <div class="phone-service">
          <i class=" fa fa-phone"></i>
          +65 11.188.888
        </div>
      </div>
      <div class="ht-right">

        <a *ngIf="!auth.isLoggedIn()" routerLink="/register" class="login-panel"><i class="fa fa-user"></i>Register</a>
        <a *ngIf="!auth.isLoggedIn()"  routerLink="/login" class="login-panel"><i class="fa fa-user"></i>Login &nbsp; &nbsp;</a>
        <a *ngIf="auth.isLoggedIn()" routerLink="/" (click)="auth.logout()" class="login-panel">Logout</a>
        <a *ngIf="auth.isLoggedIn()" routerLink="/profile" class="login-panel"><i class="fa fa-user"></i>{{auth.getUserDetails()?.first_name}} &nbsp; &nbsp;</a>


        <div class="lan-selector">



          <select class="language_drop" name="countries" id="countries" style="width:300px;">


            <option value='en' data-image="assets/img/flag-1.jpg" data-imagecss="flag yt"
                    data-title="English">English</option>

            <option  value='de' data-image="assets/img/flag-2.jpg" data-imagecss="flag yu"
                     data-title="Bangladesh">German</option>
          </select>

        </div>
        <div class="top-social">
          <a href="#"><i class="ti-facebook"></i></a>
          <a href="#"><i class="ti-twitter-alt"></i></a>
          <a href="#"><i class="ti-linkedin"></i></a>
          <a href="#"><i class="ti-pinterest"></i></a>
        </div>

        <button (click)="translate.use('en')">EN</button>
        <button (click)="translate.use('ua')">UA</button>
        <button (click)="translate.use('de')">DE</button>
        <button (click)="translate.use('ru')">RU</button>
<!--        <div style="display: inline-block">-->



<!--        </div>-->


      </div>
    </div>
  </div>




  <div class="container">
    <div class="inner-header">
      <div class="row">
        <div class="col-lg-2 col-md-2">


          <a routerLink="/" id="demoFont">Baydalini</a>


        </div>
        <div class="col-lg-7 col-md-7">
          <div class="advanced-search">
            <button type="button" class="category-btn">All Categories</button>
            <div class="input-group">
              <input type="text" placeholder="What do you need?">
              <button type="button"><i class="ti-search"></i></button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 text-right col-md-3">
          <ul class="nav-right">

<!--            <li class="heart-icon">-->
<!--              <a href="#">-->
<!--                <i class="icon_heart_alt"></i>-->
<!--                <span>1</span>-->
<!--              </a>-->
<!--            </li>-->
            <li class="cart-icon">
              <a href="/cart">
                <i class="icon_bag_alt"></i>
                <span>{{cartData.data[0].numInCart != 0 ? cartData.data.length : 0 }}</span>
              </a>
              <div class="cart-hover">
                <div class="select-items">
                  <table>
                    <tbody *ngIf="cartData.data[0].numInCart != 0">

                    <tr *ngFor="let c of cartData.data; let i=index">
                      <td class="si-pic"><img [src]="c.product ?. image" alt="{{c.product.title}}"></td>
                      <td class="si-text">
                        <div class="product-selected">
                          <p>{{c.product.price | currency: 'USD'}} x {{c.numInCart}}</p>
                          <h6>{{c.product.title}}</h6>
                        </div>
                      </td>
                      <td class="si-close" (click)="cartService.DeleteProductFromCart(i)" >
                        <i class="ti-close"></i>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
                <div class="select-total">
                  <span>total:</span>
                  <h5>{{ cartTotal | currency: 'USD'}}</h5>
                </div>
                <div class="select-button">
                  <a routerLink="/cart" class="primary-btn view-card">VIEW CART</a>
                  <a routerLink="/checkout" class="primary-btn checkout-btn">CHECK OUT</a>
                </div>
              </div>
            </li>
            <li class="cart-price">{{cartTotal | currency: 'USD'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-item">
    <div class="container">
      <div class="nav-depart">

      </div>
      <nav class="nav-menu mobile-menu">
        <ul>
          <li ><a routerLink="/">{{'NAV.MAIN' | translate}}</a></li>
          <li><a routerLink="/collection">{{'NAV.CATALOG' | translate}}</a>
            <ul class="dropdown">
              <li><a routerLink="category/shoes">{{'COLLECTION.1'| translate}}</a></li>
              <li><a routerLink="category/dresses">{{'COLLECTION.2'| translate}}</a></li>
              <li><a routerLink="category/shirts">{{'COLLECTION.3'| translate}}</a></li>
            </ul>
          </li>
          <li><a routerLink="/payinfo">{{'NAV.PAYMENT' | translate}}</a></li>
          <li><a routerLink="/return">{{'NAV.RETURN' | translate}}</a></li>
          <li><a routerLink="/about">{{'NAV.ABOUT' | translate}}</a></li>
          <li><a routerLink="/contacts">{{'NAV.CONTACTS' | translate}}</a></li>
          <li><a routerLink="/blog">{{'NAV.BLOG' | translate}}</a></li>




        </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
    </div>
  </div>
</header>
