

<section class="hero-section">
  <div class="hero-items owl-carousel ">

    <div class="single-hero-items set-bg" [ngStyle]="{'background-image': 'url(' + images[0]?.slider1_1  + ')'}" >
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h1 class="slider-header">{{'HOME.TITLE1'|translate}}</h1>
            <a routerLink="/collection/business blouses" class="primary-btn">{{'HOME.SHOPNOW' | translate}}</a>
          </div>
        </div>

      </div>
    </div>

    <!--    x-->
    <div class="single-hero-items set-bg" [ngStyle]="{'background-image': 'url(' + images[0]?.slider1_2  + ')'}" >
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h1 class="slider-header">{{'HOME.TITLE1'|translate}}</h1>
            <a routerLink="/collection/business blouses" class="primary-btn">{{'HOME.SHOPNOW' | translate}}</a>
          </div>
        </div>

      </div>
    </div>

    <!--    x-->

  </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<div class="banner-section spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4" >
        <div class="single-banner">
          <img src="{{images[0]?.cat_1}}" alt="">
          <div class="inner-text">
            <button class="btn btn-default" outerLink="category/shoes"> <h4 class="outset" style="color: #7a0c35;">{{'COLLECTION.1'| translate}}</h4></button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-banner">
          <img src="{{images[0]?.cat_2}}" alt="">
          <div class="inner-text">
            <button class="btn btn-defaul" routerLink="category/dresses">  <h4 class="outset" style="color: #7a0c35;" >{{'COLLECTION.2'| translate}}</h4> </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-banner">
          <img src="{{images[0]?.cat_3}}" alt="">
          <div class="inner-text">
            <button class="btn btn-default" routerLink="category/shirts">   <h4 class="outset" style="color: #7a0c35;">{{'COLLECTION.3'| translate}}</h4></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section End -->


<!--SECOND SECTION-->
<section class="hero-section">
  <div class="hero-items owl-carousel">

    <div routerLink="/collection/summer dresses" class="single-hero-items set-bg m-3" [ngStyle]="{'background-image': 'url(' + images[0]?.slider2_1  + ')'}">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h1 style="color: whitesmoke" class="slider-header">{{'HOME.SLIDER2'|translate}}</h1>
          </div>
        </div>

      </div>
    </div>

    <!--    x-->
    <div routerLink="/collection/summer dresses"  class="single-hero-items set-bg m-3" [ngStyle]="{'background-image': 'url(' + images[0]?.slider2_2  + ')'}">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h1 class="slider-header">{{'HOME.SLIDER2'|translate}}</h1>

          </div>
        </div>

      </div>
    </div>

    <!--    x-->

  </div>
</section>


<!--THIRD SECTION-->
<section class="hero-section">
  <div class="hero-items owl-carousel ">



    <div routerLink="/collection/shoes collection" class="single-hero-items set-bg m-3" [ngStyle]="{'background-image': 'url(' + images[0]?.slider3_1  + ')'}">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h1 style="color: whitesmoke" class="slider-header">{{'HOME.SLIDER3'|translate}}</h1>

          </div>
        </div>

      </div>
    </div>

    <!--    x-->
    <div routerLink="/collection/shoes collection" class="single-hero-items set-bg m-3" [ngStyle]="{'background-image': 'url(' + images[0]?.slider3_2  + ')'}">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h1 class="slider-header" >{{'HOME.SLIDER3'|translate}}</h1>

          </div>
        </div>

      </div>
    </div>

    <!--    x-->

  </div>
</section>




<!-- Instagram Section Begin -->
<div class="instagram-photo mt-3">
  <div class="insta-item set-bg" data-setbg="assets/img/instagram/1.jpg">
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="https://www.instagram.com/p/CDdVHn0h2DW/">baydalini_boutique</a></h5>
    </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/instagram/2.jpg">
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="https://www.instagram.com/p/CAc6Xu6BQyz/">baydalini_boutique</a></h5>
    </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/instagram/3.jpg">
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="https://www.instagram.com/p/CAV3Lorh6dg/">baydalini_boutique</a></h5>
    </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/instagram/4.jpg">
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="https://www.instagram.com/p/B-9eawpBG-F/">baydalini_boutique</a></h5>
    </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/instagram/5.jpg">
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="https://www.instagram.com/p/B7tjd3jBv7r/">baydalini_boutique</a></h5>
    </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/instagram/6.jpg">
    <div class="inside-text">
      <i class="ti-instagram"></i>
      <h5><a href="https://www.instagram.com/p/B63U5iTBOU4/">baydalini_boutique</a></h5>
    </div>
  </div>
</div>
<!-- Instagram Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest-blog spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>{{'HOME.BLOG'|translate}}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let b of blog" class="col-lg-4 col-md-6">
        <div class="single-latest-blog">
          <img [src]="b.image"  (click)="selectBlog(b.id)">
          <div class="latest-text">
            <div class="tag-list">
              <div class="tag-item">
                <i class="fa fa-calendar-o"></i>
                {{b.date}}
              </div>

            </div>
            <a (click)="selectBlog(b.id)">
              <h4>{{b.title}}</h4>
            </a>
            <p (click)="selectBlog(b.id)">{{b.text| slice: 0:80}}... </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Latest Blog Section End -->







