<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <a routerLink="/"><i class="fa fa-home"></i> {{'BREADCRUMP.MAIN'|translate}}</a>
          <span>{{'BREADCRUMP.RETURN'|translate}}</span>
        </div>
      </div>
    </div>
  </div>
</div>



<section class="blog-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="blog-details-inner">
          <div class="blog-detail-title">
            <h2>{{"RETURN.HEADER"|translate}}</h2>
          </div>

          <div class="blog-detail-desc">
            <p>{{"RETURN.TEXT"|translate}}
            </p>
          </div>


          <p></p>

          <div class="leave-comment">
            <h4>{{"RETURN.COMMENT"|translate}}</h4>
            <form [formGroup]="form" (ngSubmit)="submit()"  class="comment-form">
              <div class="row">
                <div class="col-lg-6">
                  <input [(ngModel)]="name"  formControlName="name" id="name" type="text" class="form-control" placeholder="{{'CONTACT.PLACEHOLDER1' | translate}}">
                  <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                    <div *ngIf="f.name.errors.required">{{'VALIDATION_MESSAGE.NAME' | translate}}</div>
                    <div *ngIf="f.name.errors.minlength">{{'VALIDATION_MESSAGE.NAME_MIN' | translate}}</div>
                    <div *ngIf="f.name.errors.maxlength">{{'VALIDATION_MESSAGE.NAME_MAX' | translate}}</div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <input [(ngModel)]="email"  formControlName="email" id="email" type="text" class="form-control" placeholder="{{'CONTACT.PLACEHOLDER2' | translate}}">
                  <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                    <div *ngIf="f.email.errors.required">{{'VALIDATION_MESSAGE.EMAIL' | translate}}</div>
                    <div *ngIf="f.email.errors.email">{{'VALIDATION_MESSAGE.EMAIL_ERR' | translate}}</div>
                    <div *ngIf="f.email.errors.minLength">{{'VALIDATION_MESSAGE.EMAIL_ERR' | translate}}</div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <textarea [(ngModel)]="text"  formControlName="text" id="text" type="text" class="form-control" placeholder="{{'CONTACT.PLACEHOLDER3' | translate}}"></textarea>
                  <div *ngIf="f.text.touched && f.text.invalid" class="alert alert-danger">
                    <div *ngIf="f.text.errors.required">{{'VALIDATION_MESSAGE.TEXT' | translate}}</div>
                  </div>
                  <button type="submit" [disabled]="!form.valid"  class="site-btn">{{'CONTACT.BUTTON' | translate}}</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
<flash-messages></flash-messages>

