


<div class="container-fluid m-3">
  <!--<h1>Список пользователей</h1>-->
  <flash-messages></flash-messages>

  <input type="button" value="Додати" class="btn btn-outline-dark m-3" (click)="addBlog()" />
  <table class="table table-striped">
    <thead>
    <tr>
      <td>ID</td>
      <td>Назва</td>
      <td>Категорія</td>
      <td>Текст</td>
      <td>Основне зображення</td>
      <td>Зображення</td>
      <td>Дата</td>
      <td></td>
      <td></td>
    </tr>
    </thead>
      <tbody *ngFor="let blog of blogs">
    <ng-template [ngTemplateOutlet]="loadTemplate(blog)"
                 [ngTemplateOutletContext]="{ $implicit: blog}">
    </ng-template>
      </tbody>
  </table>


  <!--шаблон для чтения-->
  <ng-template #readOnlyTemplate let-blog>
<tr>
      <td>{{blog.id}}</td>
    <td>{{blog.title}}</td>
    <td>{{blog.category}}</td>
    <td>{{blog.text| slice:0:20}}</td>
    <td>{{blog.image | slice:0:20}}</td>
      <td>{{blog.images | slice:0:20}}</td>
      <td>{{blog.date}}</td>

      <td>
        <input type="button" value="Змінити" class="btn btn-outline-primary" (click)="editBlog(blog)" />
      </td>
      <td>
        <input type="button" value="Видалити" (click)="deleteBlog(blog)" class="btn btn-outline-danger" />
      </td>
</tr>
  </ng-template>

  <!--шаблон для редактирования-->
  <ng-template #editTemplate>
<tr>
      <td>
        <input type="number" [(ngModel)]="editedBlog.id" readonly disabled class="form-control" />
      </td>
      <td>
        <input type="text" [(ngModel)]="editedBlog.title" class="form-control" />
      </td>

      <td>
        <input type="text" [(ngModel)]="editedBlog.category" class="form-control" />
      </td>
    <td>
      <input type="text" [(ngModel)]="editedBlog.text" class="form-control" />
    </td>
      <td>
        <input type="text" [(ngModel)]="editedBlog.image" class="form-control" />
      </td>
      <td>
        <input type="text" [(ngModel)]="editedBlog.images" class="form-control" />
      </td>

      <td>
        <input type="text" [(ngModel)]="editedBlog.date" class="form-control" />
      </td>

      <td>
        <input type="button" value="Зберегти" (click)="saveProduct()" class="btn btn-outline-success" />
      </td>
      <td>
        <input type="button" value="Відміна" (click)="cancel()" class="btn btn-outline-danger" />
      </td>
</tr>
    <tr>
      <td>
        <input type="text" value="UKR" readonly disabled class="form-control" />
      </td>
      <td>
        <input type="text" [(ngModel)]="editedBlog.title_ua" class="form-control" />
      </td>

      <td>
        <input type="text" [(ngModel)]="editedBlog.category_ua" class="form-control" />
      </td>
      <td>
        <input type="text" [(ngModel)]="editedBlog.text_ua" class="form-control" />
      </td>

    </tr>
    <tr>
      <td>
        <input type="text" value="RUS" readonly disabled class="form-control" />
      </td>
      <td>
        <input type="text" [(ngModel)]="editedBlog.title_ru" class="form-control" />
      </td>

      <td>
        <input type="text" [(ngModel)]="editedBlog.category_ru" class="form-control" />
      </td>
      <td>
        <input type="text" [(ngModel)]="editedBlog.text_ru" class="form-control" />
      </td>

    </tr>
    <tr>
      <td>
        <input type="text" value="DEU" readonly disabled class="form-control" />
      </td>
      <td>
        <input type="text" [(ngModel)]="editedBlog.title_de" class="form-control" />
      </td>

      <td>
        <input type="text" [(ngModel)]="editedBlog.category_de" class="form-control" />
      </td>
      <td>
        <input type="text" [(ngModel)]="editedBlog.text_de" class="form-control" />
      </td>

    </tr>


  </ng-template>

</div>
