<div class="breacrumb-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <a href="#"><i class="fa fa-home"></i> {{'BREADCRUMP.MAIN'|translate}}</a>
          <span>{{'BREADCRUMP.SHOP'|translate}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Product Shop Section Begin -->
<section class="product-shop spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-5 col-sm-7 order-2 order-lg-1 produts-sidebar-filter">


        <details>
          <summary>{{'SIDEBAR.CATEGORY'|translate}}</summary>


          <p *ngFor="let c of categories"><a routerLink="/category/{{c.title_en}}">
            {{c.title}}
          </a>
          </p>

        </details>


      </div>
      <div class="col-lg-10 order-1 order-lg-2">

        <div class="product-list">
          <div class="row">

            <div class="col-lg-3 col-sm-6" *ngFor="let p of products">
              <div class="product-item">
                <div class="pi-pic">
                  <img [src]="p.image" alt="{{p.title}}}" (click)="selectProduct(p.id)">

                  <ul>
                    <li class="quick-view ">

                      <div class="p-0">
                        <a *ngIf="p.xs>0" class="btn btn-light d-inline-block m-1 p-2" [class.disabled]="p.xs<1" [class.btn-outline-danger]="p.xs<1" (click)="AddToCart(p.id,'XS')">{{p.xs < 1? "": "XS" }}</a>
                        <a *ngIf="p.s>0" class="btn btn-light   d-inline-block m-1 p-2"  [class.disabled]="p.s<1" [class.btn-outline-danger]="p.s<1" (click)="AddToCart(p.id,'S')">{{p.s < 1? "": "S" }}</a>
                        <a *ngIf="p.m>0" class="btn btn-light   d-inline-block m-1 p-2"  [class.disabled]="p.m<1" [class.btn-outline-danger]="p.m<1" (click)="AddToCart(p.id,'M')">{{p.m < 1? "": "M" }}</a>
                        <a *ngIf="p.l>0" class="btn btn-light   d-inline-block m-1 p-2"  [class.disabled]="p.l<1" [class.btn-outline-danger]="p.l<1" (click)="AddToCart(p.id,'L')">{{p.l < 1? "": "L" }}</a>
                        <a *ngIf="p.xl>0" class="btn btn-light  d-inline-block m-1 p-2"  [class.disabled]="p.xl<1" [class.btn-outline-danger]="p.xl<1" (click)="AddToCart(p.id,'XL')">{{p.xl < 1? "": "XL" }}</a>
                        <a *ngIf="p.xxl>0" class="btn btn-light  d-inline-block m-1 p-2"  [class.disabled]="p.xxl<1" [class.btn-outline-danger]="p.xxl<1" (click)="AddToCart(p.id,'XXL')">{{p.xxl < 1? "": "XXL" }}</a>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="pi-text">
                  <div class="catagory-name">{{p.category}}</div>
                  <a (click)="selectProduct(p.id)">
                    <h5>{{p.title | titlecase}}</h5>
                  </a>
                  <div class="product-price">
                    {{p.price | currency: 'USD'}}
                    <!--                    <span>$100000.00</span>-->
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>

      </div>
    </div>
  </div>
</section>
