<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text product-more">
          <a routerLink="/"><i class="fa fa-home"></i>{{'CONTACT.BREADCRUMP1'|translate}}</a>
          <a routerLink="/collection">{{'PRODUCT.BREADCRUMP2'|translate}}</a>
          <span>{{'PRODUCT.BREADCRUMP3'|translate}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section Begin -->

<section class="product-shop spad page-details">
  <div class="container-fluid">
    <div class="row ">


      <div class="col-lg-12" >
        <div class="row">

          <div class="col-lg-8">



            <div class="product-pic-zoom  col-lg-6 d-inline-block">
              <img class="product-big-img" [src]="product?.image" alt="">

            </div>

            <div class="product-pic-zoom  col-lg-6 d-inline-block " *ngFor="let t of thumbImages">
              <img class="product-big-img" [src]="t" alt="">
            </div>



          </div>


          <div class="col-lg-4 ">
            <div class="product-details">
              <div class="pd-title">
                <span>{{product?.category}}</span>
                <h3>{{product?.title}}</h3>
              </div>

              <div class="pd-desc">
                <p>{{product?.description}}</p>
                <h4>{{product?.price }} {{'WALLET'|translate}}
                  <!--                  <span>629.99</span>-->
                </h4>
              </div>

              <div class="pd-color">
                <h6>{{'PRODUCT.COLOR'|translate}}</h6>
                <div class="pd-color-choose">
                  <div class="cc-item">
                    <input (click)="ClothColor('Black')" type="radio" id="cc-black">
                    <label for="cc-black"></label>
                  </div>

                  <div class="cc-item">
                    <input (click)="ClothColor('White')" type="radio" id="cc-white">
                    <label for="cc-white" class="cc-white"></label>
                  </div>
                </div>
              </div>


              <div class="pd-size-choose">

                <div *ngIf="product.xs >0" class="sc-item">
                  <input (click)="ClothSize('XS')" type="radio" id="xs-size">
                  <label for="xs-size">xs</label>
                </div>

                <div  *ngIf="product.s>0" class="sc-item">
                  <input (click)="ClothSize('S')" type="radio" id="sm-size">
                  <label for="sm-size">s</label>
                </div>
                <div *ngIf="product.m >0" class="sc-item">
                  <input (click)="ClothSize('M')" type="radio" id="md-size">
                  <label for="md-size">m</label>
                </div>
                <div *ngIf="product.l >0" class="sc-item">
                  <input (click)="ClothSize('L')" type="radio" id="lg-size">
                  <label for="lg-size">l</label>
                </div>
                <div *ngIf="product.xl >0" class="sc-item">
                  <input (click)="ClothSize('XL')" type="radio" id="xl-size">
                  <label for="xl-size">xl</label>
                </div>
                <div *ngIf="product.xxl >0" class="sc-item">
                  <input (click)="ClothSize('XXL')"  type="radio" id="xxl-size">
                  <label for="xxl-size">xxl</label>
                </div>

              </div>


              <div class="quantity">

                <div class="value-button" id="decrease" (click)="Decrease()">
                  <i class="fa fa-minus"></i>
                </div>

                <input id="number" #quantity [max]="product?.quantity" [min]="product?.quantity >= 1 ? product?.quantity : 0"
                       readonly type="number" value="{{product?.quantity >= 1 ? 1 : 0}}">

                <div class="value-button" id="increase" (click)="Increase()">
                  <i class="fa fa-plus"></i>
                </div><br>
              </div>

              <button (click)="addToCart(product ?. id)" *ngIf="product?.quantity >= 1" class="primary-btn pd-cart">{{'PRODUCT.BUTTON'|translate}}</button>


            </div>

          </div>




        </div>


        <!-- Related Products Section End -->
        <div class="related-products spad">
          <div class="container">
            <div class="row ">
              <div class="col-lg-12">
                <div class="section-title  mt-5">
                  <h2>{{'PRODUCT.HEADER'|translate}}</h2>
                </div>
              </div>
            </div>
            <div class="row">


              <!--      <div class="col-lg-3 col-sm-6">-->
              <div class="product-item d-inline-block col-lg-3 col-sm-6" *ngFor="let p of offeredProducts | slice:0:4">
                <div class="pi-pic">
                  <img [src]="p.image" (click)="selectProduct(p.id)">

                  <ul>
                    <li class="quick-view ">

                      <div class="p-0">
                        <a *ngIf="p.xs>0" class="btn btn-light d-inline-block m-1 p-2" [class.disabled]="p.xs<1" [class.btn-outline-danger]="p.xs<1" (click)="AddToCart(p.id,'XS')">{{p.xs < 1? "": "XS" }}</a>
                        <a *ngIf="p.s>0" class="btn btn-light   d-inline-block m-1 p-2"  [class.disabled]="p.s<1" [class.btn-outline-danger]="p.s<1" (click)="AddToCart(p.id,'S')">{{p.s < 1? "": "S" }}</a>
                        <a *ngIf="p.m>0" class="btn btn-light   d-inline-block m-1 p-2"  [class.disabled]="p.m<1" [class.btn-outline-danger]="p.m<1" (click)="AddToCart(p.id,'M')">{{p.m < 1? "": "M" }}</a>
                        <a *ngIf="p.l>0" class="btn btn-light   d-inline-block m-1 p-2"  [class.disabled]="p.l<1" [class.btn-outline-danger]="p.l<1" (click)="AddToCart(p.id,'L')">{{p.l < 1? "": "L" }}</a>
                        <a *ngIf="p.xl>0" class="btn btn-light  d-inline-block m-1 p-2"  [class.disabled]="p.xl<1" [class.btn-outline-danger]="p.xl<1" (click)="AddToCart(p.id,'XL')">{{p.xl < 1? "": "XL" }}</a>
                        <a *ngIf="p.xxl>0" class="btn btn-light  d-inline-block m-1 p-2"  [class.disabled]="p.xxl<1" [class.btn-outline-danger]="p.xxl<1" (click)="AddToCart(p.id,'XXL')">{{p.xxl < 1? "": "XXL" }}</a>
                        <a *ngIf="p.quantity <= 0"  class="nostock-but disabled d-inline-block m-1 p-2">{{'ADDBUTTON.NOSTOCK'|translate}}</a>

                      </div>
                    </li>
                  </ul>
                </div>

                <div class="pi-text">
                  <div class="catagory-name">{{p.category}}</div>
                  <a (click)="selectProduct(p.id)">
                    <h5>{{p.title}}</h5>
                  </a>
                  <div class="product-price">
                    {{p.price}} {{'WALLET' | translate}}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
