<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <a routerLink="/"><i class="fa fa-home"></i> {{'LOGIN.BREADCRUMP1' | translate}}</a>
          <span>{{'LOGIN.BREADCRUMP2' | translate}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="register-login-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">

        <div class="login-form">
          <h2>{{'LOGIN.HEADER' | translate}}</h2>

          <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="group-input">
              <label for="username">{{'REGISTER.EMAIL'|translate}}</label>
              <input formControlName="email" type="email" class="form-control" id="username" name="email"  [(ngModel)]="credentials.email" >
              <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                <div *ngIf="f.email.errors.required">{{'VALIDATION_MESSAGE.EMAIL'|translate}}</div>
                <div *ngIf="f.email.errors.email">{{'VALIDATION_MESSAGE.EMAIL_ERR'|translate}}</div>
                <div *ngIf="f.email.errors.minLength">{{'VALIDATION_MESSAGE.EMAIL_ERR'|translate}}</div>

              </div>
            </div>
            <div class="group-input">
              <label for="pass">{{'REGISTER.PASSWORD'|translate}}</label>
              <input formControlName="password" type="password" class="form-control" id="pass" name="password" [(ngModel)]="credentials.password">
              <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                <div *ngIf="f.password.errors.required">{{'VALIDATION_MESSAGE.PASSWORD'|translate}}</div>
                <div *ngIf="f.password.errors.minlength">{{'VALIDATION_MESSAGE.PASSWORD_MIN'|translate}}</div>
              </div>
            </div>
            <div class="group-input gi-check">
              <div class="gi-more">
                <!--                <label for="save-pass">-->
                <!--                  Save Password-->
                <!--                  <input type="checkbox" id="save-pass">-->
                <!--                  <span class="checkmark"></span>-->
                <!--                </label>-->
                <!--                <a href="#" class="forget-pass">Forget your Password</a>-->
              </div>
            </div>
            <button [disabled]="!form.valid" type="submit"  class="site-btn login-btn">{{'LOGIN.BUTTON' | translate}}</button>
          </form>
          <flash-messages></flash-messages>

          <div class="switch-login">
            <a routerLink="/register" class="or-login">{{'LOGIN.LINK' | translate}}</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
