


<div class="container-fluid m-3">
  <!--<h1>Список пользователей</h1>-->
  <flash-messages></flash-messages>

  <input type="button" value="Додати" class="btn btn-outline-dark m-3" (click)="addCategory()" />
  <table class="table table-striped">
    <thead>
    <tr>
      <td>ID</td>
      <td>Title</td>
      <td>Назва</td>
      <td>Название</td>
      <td>Titel</td>

      <td></td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
      <ng-template [ngTemplateOutlet]="loadTemplate(category)"
                   [ngTemplateOutletContext]="{ $implicit: category}">
      </ng-template>
    </tr>
    </tbody>
  </table>


  <!--шаблон для чтения-->
  <ng-template #readOnlyTemplate let-category>

    <td>{{category.id}}</td>
    <td>{{category.title}}</td>
    <td>{{category.title_ua}}</td>
    <td>{{category.title_ru}}</td>
    <td>{{category.title_de}}</td>



    <td>
      <input type="button" value="Змінити" class="btn btn-outline-primary" (click)="editCategory(category)" />
    </td>
    <td>
      <input type="button" value="Видалити" (click)="deleteCategory(category)" class="btn btn-outline-danger" />
    </td>

  </ng-template>

  <!--шаблон для редактирования-->
  <ng-template #editTemplate>

    <td>
      <input type="number" [(ngModel)]="editedCategory.id" readonly disabled class="form-control" />
    </td>
    <td>
      <input type="text" [(ngModel)]="editedCategory.title" class="form-control" />
    </td>
    <td>
      <input type="text" [(ngModel)]="editedCategory.title_ua" class="form-control" />
    </td>
    <td>
      <input type="text" [(ngModel)]="editedCategory.title_ru" class="form-control" />
    </td>
    <td>
      <input type="text" [(ngModel)]="editedCategory.title_de" class="form-control" />
    </td>

    <td>
      <input type="button" value="Зберегти" (click)="saveCategory()" class="btn btn-outline-success" />
    </td>
    <td>
      <input type="button" value="Відміна" (click)="cancel()" class="btn btn-outline-danger" />
    </td>

  </ng-template>

</div>
