<div class="container" >






  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">
        <h1 class="display-3">{{'THANKYOU.HEADER'|translate}}</h1>
        <p class="lead"><strong>{{'THANKYOU.MESSAGE'|translate}}</strong> {{'THANKYOU.MESSAGEC'|translate}}</p>
        <hr>
        <p>

        <p>{{'THANKYOU.ORDERID'|translate}} <strong>{{orderId}}</strong></p>
      </div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>{{'THANKYOU.IMAGE'|translate}}</th>
          <th>{{'THANKYOU.TITLE'|translate}}</th>
          <th>{{'THANKYOU.PRICE'|translate}}</th>
          <th>{{'THANKYOU.QUANTITY'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of products ">
          <td>
            <img [src]="p.image" alt="{{p?.title}}" class="img-thumbnail" width="100px">
          </td>
          <td>{{p?.title}}</td>
          <td>{{p?.price}} {{'WALLET'|translate}}</td>
          <td>{{p?.quantity}}</td>
        </tr>

        <tr class="border-0">
          <td style="border: none;"></td>
          <td></td>
          <td>{{'THANKYOU.TOTAL'|translate}}</td>
          <td>{{cartTotal}} {{'WALLET'|translate}}</td>


        </tr>
        </tbody>
      </table>
      <div class="cart-buttons justify-content-center">
        <a id="home" routerLink="/" class="primary-btn up-cart">{{'THANKYOU.HOME'|translate}}</a>
      </div>
    </div>

  </div>
</div>


